In [20]:
dataset = pd.read_csv('Data.csv')
x=dataset.iloc[:, :-1]
y= dataset.iloc[:, -1]

In [21]:
print(x)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [22]:
print(y)

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [14]:
%cd C:\Users\athul\OneDrive\Desktop\python

C:\Users\athul\OneDrive\Desktop\python

In [27]:
import pandas as pd

In [28]:
dataset = pd.read_csv('Data.csv')
x=dataset.iloc[:, :-1]
y= dataset.iloc[:, -1]

In [17]:
print(x)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [18]:
print(y)

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [20]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

# Load the dataset
dataset = pd.read_csv('Data.csv')

# Define 'x' as all rows and all columns except the last one
x = dataset.iloc[:, :-1]

# Create an instance of SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit the imputer on the selected columns
imputer.fit(x.iloc[:, 1:3])

# Transform the selected columns with missing values
x.iloc[:, 1:3] = imputer.transform(x.iloc[:, 1:3])

# Print the updated DataFrame
print(x)

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [22]:
print(x_train)

   Country        Age        Salary
6    Spain  38.777778  52000.000000
4  Germany  40.000000  63777.777778
0   France  44.000000  72000.000000
3    Spain  38.000000  61000.000000
1    Spain  27.000000  48000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
5   France  35.000000  58000.000000

In [23]:
print(x_test)

   Country   Age   Salary
2  Germany  30.0  54000.0
9   France  37.0  67000.0

In [24]:
print(y_train)

6     No
4    Yes
0     No
3     No
1    Yes
7    Yes
8     No
5    Yes
Name: Purchased, dtype: object

In [25]:
print(y_test)

2     No
9    Yes
Name: Purchased, dtype: object

In [29]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x= np.array(ct.fit_transform(x))

In [30]:
print(x)

[[1.0e+00 0.0e+00 0.0e+00 4.4e+01 7.2e+04]
 [0.0e+00 0.0e+00 1.0e+00 2.7e+01 4.8e+04]
 [0.0e+00 1.0e+00 0.0e+00 3.0e+01 5.4e+04]
 [0.0e+00 0.0e+00 1.0e+00 3.8e+01 6.1e+04]
 [0.0e+00 1.0e+00 0.0e+00 4.0e+01     nan]
 [1.0e+00 0.0e+00 0.0e+00 3.5e+01 5.8e+04]
 [0.0e+00 0.0e+00 1.0e+00     nan 5.2e+04]
 [1.0e+00 0.0e+00 0.0e+00 4.8e+01 7.9e+04]
 [0.0e+00 1.0e+00 0.0e+00 5.0e+01 8.3e+04]
 [1.0e+00 0.0e+00 0.0e+00 3.7e+01 6.7e+04]]

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [32]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [34]:
print(x_train)

[[0.0e+00 0.0e+00 1.0e+00     nan 5.2e+04]
 [0.0e+00 1.0e+00 0.0e+00 4.0e+01     nan]
 [1.0e+00 0.0e+00 0.0e+00 4.4e+01 7.2e+04]
 [0.0e+00 0.0e+00 1.0e+00 3.8e+01 6.1e+04]
 [0.0e+00 0.0e+00 1.0e+00 2.7e+01 4.8e+04]
 [1.0e+00 0.0e+00 0.0e+00 4.8e+01 7.9e+04]
 [0.0e+00 1.0e+00 0.0e+00 5.0e+01 8.3e+04]
 [1.0e+00 0.0e+00 0.0e+00 3.5e+01 5.8e+04]]

In [35]:
print(x_test)

[[0.0e+00 1.0e+00 0.0e+00 3.0e+01 5.4e+04]
 [1.0e+00 0.0e+00 0.0e+00 3.7e+01 6.7e+04]]

In [36]:
print(y_train)

[0 1 0 0 1 1 0 1]

In [37]:
print(y_test)

[0 1]

In [40]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 3:] = sc.fit_transform(x_train[:, 3:])
x_test[:, 3:] = sc.transform(x_test[:, 3:])

In [41]:
print(x_train)

[[ 0.          0.          1.                 nan -1.018224  ]
 [ 0.          1.          0.         -0.03891021         nan]
 [ 1.          0.          0.          0.50583275  0.58347667]
 [ 0.          0.          1.         -0.31128169 -0.2974587 ]
 [ 0.          0.          1.         -1.80932482 -1.33856413]
 [ 1.          0.          0.          1.0505757   1.1440719 ]
 [ 0.          1.          0.          1.32294718  1.46441204]
 [ 1.          0.          0.         -0.71983891 -0.5377138 ]]

In [42]:
print(x_test)

[[ 0.          1.          0.         -1.40076761 -0.85805393]
 [ 1.          0.          0.         -0.44746743  0.1830515 ]]